################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Archive
/FitNesseRun/task.backup
/vss-extension.backup
