################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Archive
*.backup
bin/
obj/
.DS_Store
*.zip